# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
nh
# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example