# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

.venv/

.streamlit/secrets.toml

__pycache__/
*.pyc